 
<div class="card search-result">
  <div class="card-header">
    Search Result
  </div>
  <div class="card-body"> 
      <table id="search-criteria" class="table table-stripped table-bordered"   >
        <thead>
            <tr>
            <th > Sub-Company</th>
                    <th > Insured File As Name  
                    </th>
                    <th>Policy #</th>
                    <th>Version #</th>
                    <th>Policy Type  </th>
                    <th>Country</th>
                    <th> State/Province</th>
                    <th>City</th>
                    <th> Txn Type</th>
                    <th> en Reason</th>
                    <th> Status</th>
                    <th>Written Premium</th>
                    <th> Txn Effective</th>
                    <th> Expiration</th> 
                    <th> Issured </th>
                    <th>  Producer </th>
                    <th>  Policy Year </th>
                    <th>  Term # </th>
                    <th> Policy ID </th>
                    <th>  Last Version # </th>
                    <th>  PortalStatus </th>
                    <th>  PortalStatusDescription </th>
                    <th>  AltPolicyNum </th>
                    <th> BusClass </th>
                    <th>  CreationDate </th>
                    <th> DeclinationTypeCode </th>
                    <th >IsCancelled </th>
                    <th> IsNonrenewable </th>
                    <th> PolicyEff </th>
                    <th>  OnWatchList </th> 
                </tr>
        </thead>
          <tbody>
             <tr *ngFor="let item of _PolicySearchResults"  >
                <td>{{item.subCompanyName}}</td>
                <td>{{item.insuredFileAsName}}</td>
                <td>{{item.policyNum}}</td> 
                <td>{{item.policyTxnNum}}</td>
                <td>{{item.policyType}}</td>
                <td>{{item.countryCode}}</td>
                <td>{{item.stateCode}}</td>
                <td>{{item.city}}</td>
                <td>{{item.txnTypeCode}}</td>
                <td>{{item.enReason}}</td>
                <td>{{item.txnStatusCode}}</td>
                <td>{{item.writtenPrem | number:'1.2-2'}}</td>
                <td>{{item.txnEff | date:'MM/dd/yyyy' }} </td>
                <td>{{item.policyExp | date:'MM/dd/yyyy'}} </td>
                <td>{{item.issued | date:'MM/dd/yyyy'}}</td>
                <td>{{item.producer}}</td>
                <td>{{item.policyYear}}</td> 
                <td>{{item.policyTermNum}}</td>
                <td>{{item.policyId}}</td>
                <td>{{item.lastTxnNum}}</td>
                <td>{{item.portalStatus}}</td>
                <td>{{item.portalStatusDescription}} </td>
                <td>{{item.altPolicyNum}}</td>
                <td>{{item.busClass}}</td>
                <td>{{item.creationDate | date:'MM/dd/yyyy'}}</td> 
                <td>{{item.declinationTypeCode}}</td>
                <td>{{item.isCancelled}}</td>
                <td>{{item.isNonRenewable}}</td>
                <td>{{item.policyEff | date:'MM/dd/yyyy'}}</td>
                <td>{{item.onWatchList}} </td> 
           </tr>
          </tbody> 
      </table> 
  </div> 
</div>      