 
<!--<p-accordion [activeIndex]="AccordionIndex" (onOpen)="onTabOpen($event)"> 
    <p-accordionTab header="Search Criteria">-->
        <form >
        <fieldset>
            <legend> Common Search Criteria:</legend>
            <table border="0" width="70">
                <tr>
                    <td colspan="2">Policy #:</td>
                    <!--<td></td>-->
                    <td><input type="text"></td>
                    <td><input type="button" id="btnSearchFromImage" value="Search from Image" /></td> 
                </tr>
                <tr>
                    <td width="50" colspan="2">Insured File As Name :</td>
                    <td colspan="2"><input type="text" [(ngModel)]="PolicySearch.InsuredName" name="InsuredName" (keyup)="onKey($event)" ></td> 
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <input type="checkbox"  [(ngModel)]="PolicySearch.InsuredNameOption.Override" name="Override" value="Override Sequencing"  > Override Sequencing
                        <input type="checkbox"  [(ngModel)]="PolicySearch.InsuredNameOption.SoundsLike" name="SoundsLike" value="Sounds like" (change)="Search(PolicySearch)"> Sounds like
                        <input type="checkbox"  [(ngModel)]="PolicySearch.InsuredNameOption.AllRelationships" name="AllRelationships" value="All Relationships"> All Relationships
                    </td> 
                </tr>
                <tr>
                    <td colspan="2">
                        <span>DBA Name:</span>
                    </td><td colspan="2"><input type="text"></td> 
                </tr>
                <tr>
                    <td> 
                        PolicyID : 
                    </td> 
                    <td><input type="text"></td>
                    <td><span>Version#:</span> </td>
                    <td><input type="text"></td> 
                </tr>
                <tr>
                    <td colspan="2">
                        <span>  PolicyYear: </span>
                    </td>
                    <td colspan="2"><input type="text"></td> 
                </tr> 
            </table>
        </fieldset>   
        <button (click)="Search(PolicySearch)" type="button">Search</button>
        </form> 
    <!--</p-accordionTab>
    <p-accordionTab header="Search Results">-->
        <policy-list [type]="'RecentlyViewed'" ></policy-list>  
        <policy-list [Policies]="Policies"  ></policy-list>  
    <!--</p-accordionTab>-->
<!--
</p-accordion>-->